<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <p class="lead"></p>
            <iframe
                width="350"
                height="400"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=<%=process.env.GOOGLE_KEY%>&q=<%=birreria.direccion%>" allowfullscreen>
</iframe>
        </div>
        <div class="col-md-8">
            <div class="thumbnail">
                <img class="image-responsive" src="<%= birreria.image %>" style="height: 100% !important;">
                <div class="caption caption-full">
                    <h4 class="pull-right"><%=birreria.price %>$ la pinta</h4>
                    <h4><a><%= birreria.name %></a></h4>
                    <p><%=birreria.description%></p>
                    <p>
                        <em>Es un aporte de <%= birreria.author.username %></em>
                    </p>
                    <%if(currentUser && birreria.author.id.equals(currentUser._id)) { %>
                        <a class="btn btn-warning" href="/a/birrerias/<%=birreria._id%>/edit">Editar</a>
                        <form class="delete-form" action="/a/birrerias/<%=birreria._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Borrar</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/a/birrerias/<%= birreria._id %>/comments/new">Agregar un comentario</a>
                </div>
                <hr>
                <%birreria.comments.forEach(function(comment) { %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right">hace 10 días</span>
                            <p>
                                <%=comment.text %>
                            </p>
                            <%if(currentUser && comment.author.id.equals(currentUser._id)) { %>
                               <a class="btn btn-xs btn-warning" href="/a/birrerias/<%=birreria._id%>/comments/<%=comment._id%>/edit">Edit</a>
                                <form class="delete-form" action="/a/birrerias/<%=birreria._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                    <button class="btn btn-xs btn-danger">Borrar</button>
                                </form>
                            <% } %>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>
