<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/images/TCfavicon.png">
        <title>Tomas Castagnino | Movie Database</title>
    
        <link rel="stylesheet" href="/stylesheets/movieResults.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

    </head>
    
    <body id="myBody">
        
        <a class="" href="/">
            <i aria-hidden="true"><img class="myIcons" src="/images/home(6).png"></i>
        </a>
        
        <div id="myHeader">
            <img class="ui centered large image" src="../../images/movies.png">
            <h1 id="results" class="ui huge center aligned header">
                <div class="content">
                    Movie Results 
                    <div class="sub header"> 
                        <% if (data["Search"] !== undefined) { %>
                            <%= data["Search"].length%> products meet your search criteria
                        <% } else { %>
                            No product meets your search criteria
                        <% } %> 
                    </div>
                </div>
            </h1>
        
            <div class="container">
                <div id="myDivider" class="ui horizontal divider">
                    "<%=search%>"
                </div>
            </div>
        
        </div>

        

        
        
        <div class="ui stackable four column grid container">
            <% if (data["Search"] !== undefined) { %>
                <% data["Search"].forEach(function(movie) { %>
                    <div class="column">
                        <div class="ui special cards">
                          <div class="card">
                            <div class="blurring dimmable image">
                              <div class="ui dimmer">
                                <div class="content">
                                  <div class="center">
                                    <div class="ui inverted button">
                                        <a href="/trabajos/d/info/<%= movie["imdbID"]%>">Info</a> 
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <image class="fotos" src="<%= movie["Poster"]%>"></image>
                            </div>
                            <div id="textBox" class="content">
                              <h4 class="header center"><%= movie["Title"]%></h4>
                              <div class="meta">
                                <span class="date">Year: <%=movie["Year"] %></span>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                <% }); %>
            <% } %>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.js"></script>
        <script src="/js/movieResults.js" charset="utf-8"></script>

    </body>
</html>

